<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<table>
    <tr>
        <th>Name</th>
        <th>Balance</th>
        <th>Species</th>
        <th>Index</th>
        <th>Royal account</th>

    </tr>
    <tr th:each="account:${accounts}" th:object="${account}"
        th:style="${account.ifIsKing()==true ? 'color:orange': 'color:black'}">
        <td th:text="*{name}"></td>
        <td th:text="*{displayBalance()}"></td>
        <td th:text="*{animalType}"></td>
        <td th:text="${accountStat.index}"></td>
        <td th:text="*{ifIsKing()} ? 'Royal' : 'Commoner'"></td>
    </tr>
</table>
</body>
</html>