<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fox Academy</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>

<ul>
    <li><a th:href="'/'+${foxName}+'info'">Information</a></li>
    <li><a th:href="'/nutritionStore?name='+${foxName}">Nutrition Store</a></li>
    <li><a th:href="'/trickcenter?name='+${foxName}">Trick Center</a></li>
</ul>

<img alt="a green fox"
     src="https://raw.githubusercontent.com/green-fox-academy/teaching-materials/master/project/programmer-fox-club/assets/greenfox.png?token=AOPQDECIV4SWBXE3EC5I5HK6VPWZ2">

<p>This is <span th:text="${foxName}"></span>. Currently living on <span th:text="${food.foodName}"></span> and <span
        th:text="${drink.drinkName}"></span>. She/he knows <span th:text="${numOfTricks}"></span> tricks.</p>

<h1>Known tricks</h1>

<ul th:each="trick:${listOfTricks}">
       <li th:text="${trick.trickName}"></li>
</ul>

<p th:if="${numOfTricks} == 0">No tricks yet, time to learn!</p>

</body>
</html>