<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nutrition Store</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>

<ul>
    <li><a th:href="'/'+${foxName}+'info'">Information</a></li>
    <li><a th:href="'/nutritionStore?name='+${foxName}">Nutrition Store</a></li>
    <li><a th:href="'/trickcenter?name='+${foxName}">Trick Center</a></li>
</ul>

<form th:action="'/updateNutrition?name='+${foxName}" method="post">
    <label for="foodType">Food</label>
    <select name="food"  id="foodType" >
        <option th:value="${food}" th:each="food:${foods}">
            <span th:text="${food.foodName}"></span>
        </option>
    </select>

    <label for="drinkType">Drink</label>
    <select name="drink" id="drinkType">
        <option th:value="${drink}" th:each="drink:${drinks}">
            <span th:text="${drink.drinkName}"></span>
        </option>
    </select>

    <a th:href="'/updateNutrition?name='+${foxName}"><button>Change</button></a>
</form>

</body>
</html>