<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trick Center</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>

<ul>
    <li><a th:href="'/'+${foxName}+'info'">Information</a></li>
    <li><a th:href="'/nutritionStore?name='+${foxName}">Nutrition Store</a></li>
    <li><a th:href="'/trickcenter?name='+${foxName}">Trick Center</a></li>
</ul>

<form th:action="'/updateTrick?name='+${foxName}" method="post">
    <label for="trickType">Tricks</label>
    <select name="trick"  id="trickType" >
        <option th:each="trick:${trickList}" th:value="${trick}" >
            <span th:text="${trick.trickName}"></span>
        </option>
    </select>

    <a th:href="'/updateTrick?name='+${foxName}"><button>Change</button></a>
</form>

</body>
</html>