<!DOCTYPE html>
<html lang="en" html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Pet Shelter</title>
</head>
<body>

<table>

  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Age</th>
  </tr>
  </thead>

  <tbody>
  <tr th:each="human : ${humans}">
    <td class="id" th:text="${human.getId()}"></td>
    <td class="name" th:text="${human.getName()}"></td>
    <td class="age" th:text="${human.getAge()}"></td>
    <td><button><a th:href="@{|/delete/${human.getId()}|}">Delete</a></button></td>
    <td><button><a th:href="@{|/edit/${human.getId()}|}">Edit</a></button></td>
  </tr>
  </tbody>

</table>

<button><a href="/add-human">Add human</a></button><br>

</body>
</html>