<!DOCTYPE html>
<html lang="en" html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of pets</title>
</head>
<body>

<table>

    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Buddy</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="pet : ${pets}">
        <td class="id" th:text="${pet.getId()}"></td>
        <td class="name" th:text="${pet.getName()}"></td>
        <td class="age" th:text="${pet.getHuman() == null} ? 'No buddy yet' : ${pet.getHuman()} "></td>
        <td><button><a th:href="@{|/pet/delete/${pet.getId()}|}">Delete</a></button></td>
        <td><button><a th:href="@{|/pet/edit/${pet.getId()}|}">Edit</a></button></td>
    </tr>
    </tbody>

</table>

<button><a href="/add-human">Add human</a></button><br>

</body>
</html>