<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>The Awesome Webshop</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<h1>My Shop</h1>
<hr>

<nav>
    <a href="/only-available/">
        <button>Only available</button>
    </a>
    <a href="/cheapest-first/">
        <button>Cheapest First</button>
    </a>
    <a href="/gnome/">
        <button>Contains gnome</button>
    </a>
    <a href="/stock/">
        <button>Average Stock</button>
    </a>
    <a href="/mostexpensive/">
        <button>Most expensive available</button>
    </a>
</nav>
<table>

    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity of Stock</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="item : ${items}">
        <td class="name" th:text="${item.getName()}"></td>
        <td class="description" th:text="${item.getDescription()}"></td>
        <td class="number" th:text="${item.displayPrice()}"></td>
        <td class="number" th:text="${item.getQuantityOfStock()}"></td>
    </tr>
    </tbody>

</table>

</body>
</html>