<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aliaser</title>
</head>
<body>

<div th:if="${aliasExists}">

    <p style="color: red">Your alias is already in use!</p>

</div>

<div th:if="${aliasNotExist}">

    <p>Your URL is aliased to <span th:text="${successLink.getAlias()}"></span> and your secret code is <span
            th:text="${successLink.getSecretCode()}"></span>.</p>

</div>

<form action="/save-link" method="post">
    <label for="url">URL</label>
    <input type="url" id="url" th:field="${link.url}"><br>

    <label for="alias">Alias</label>
    <input type="text" id="alias" th:field="${link.alias}"><br>

    <button type="submit">Submit</button>

</form>

</div>


</body>
</html>