<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trending Posts</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        body {
            margin: 25pt;
        }

        button {
            margin-bottom: 25pt;
            font-size: 22px;
            border-radius: 4px;
        }

        table {
            width: 100%;
            height: auto;
            border-collapse: collapse;
            overflow: hidden;
        }
    </style>

</head>
<body>

<button><a href="/">Submit a new user</a></button>

<h1>Trending posts</h1>

<table>
    <tbody>
    <tr th:each="post:${posts}" th:object="${post}">
        <td th:text="*{likes}"></td>
        <td><a th:href="|/*{id}/true/|">+</a></td>
        <td><a th:href="|/*{id}/false/|">-</a></td>
        <td><a th:href="*{url}" th:text="*{title}" target="_blank"></a></td>
        <td th:text="*{date}"></td>
        <td th:text="*{user.userName}"></td>
        <td><a th:href="'/add/' + *{user.id}">Submit a new post</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>