<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reddit-like app</title>
</head>
<body>

<button><a href="/submit">Submit new post</a></button>

<h1>Trending Posts</h1>

<div th:if="${noPost}">
    <p style="color: red"> Sorry, there are no posts with the ID <span th:text="${id}"></span>!</p>
</div>

<table>
    <tbody>
    <tr th:each="post : ${posts}" th:object="${post}">
        <td th:text="*{likeCount}"></td>
        <td><a th:href="@{'/increase-like/' + ${post.id}}">+</a></td>
        <td><a th:href="@{'/decrease-like/' + ${post.id}}">-</a></td>
        <td><a th:href="*{url}" th:text="*{title}" target="blank"></a></td>
    </tr>
    </tbody>
</table>
</body>
</html>