<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reddit-like app</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <style>
        body {
            margin: 25pt;
        }

        button {
            margin-bottom: 25pt;
            font-size: 22px;
            border-radius: 4px;
        }

        table {
            width: 100%;
            height: auto;
            border-collapse: collapse;
            overflow: hidden;
        }
    </style>
</head>
<body>

<button><a href="/submit">Submit new post</a></button>

<h1>Trending Posts</h1>

<div th:if="${noPost}">
    <p style="color: red"> Sorry, there are no posts with the ID <span th:text="${id}"></span>!</p>
</div>

<table>
    <tbody>
    <tr th:each="post : ${posts}" th:object="${post}">
        <td th:text="*{likeCount}"></td>
        <td><a th:href="@{'/increase-like/' + ${post.id}}">+</a></td>
        <td><a th:href="@{'/decrease-like/' + ${post.id}}">-</a></td>
        <td><a th:href="*{url}" th:text="*{title}" target="blank"></a></td>
        <td th:text="*{user.name}"></td>
        <td th:text="*{date}"></td>
        <td><a th:href="@{|/${post.getUser().getId()}/submit|}" target="blank">Submit a new post</a></td>
    </tr>
    </tbody>
</table>

<button><a href="/">Add another user</a></button>
</body>
</html>