<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit a Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <style>
        body {
            margin: 25pt;
        }

        button{
            font-size: 22px;
            border-radius: 4px;
        }

        form {
            margin-top: 25pt;
        }

        label {
            margin-right: 15pt;
            font-size: 16pt;
            font-weight: bold;
        }

        input {
            margin-right: 25pt;
        }

        .cancel-button {
            margin-top: 25pt;
        }
    </style>
</head>
<body>

<h1>Submit a new post</h1>

<div th:if="${postExists}">
    <p style="color: red">A post already exists with the same title!</p>
</div>

<form action="/submit" method="post">

    <label for="title">Title:</label>
    <input type="text" name="title" th:fied="${post.title}" id="title" required><br>

    <label for="url">URL:</label>
    <input type="url" name="url" th:field="${post.url}" id="url" required><br>

    <button type="submit">Submit</button><br>

</form>

</body>
</html>