<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add todos</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<h1>Add a new todo</h1>

<form action="/todo/add" method="post">
    <input id="newTodo" type="text" name="title" required><br>

    <p>Is it urgent?</p>
    <input type="radio" id="urgent" name="urgent" value="True">
    <label for="urgent">Yes</label><br>

    <input type="radio" id="notUrgent" name="urgent" value="False">
    <label for="notUrgent">No</label><br>

    <button type="submit">Submit</button>
</form>

</body>
</html>