<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit todo</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>

<h1>Edit your todo</h1>

<form th:action="'/todo/' + *{id} + '/edit'" method="post" th:object="${todo}">

    <label for="editTodo">Todo description</label>
    <input type="text" id="editTodo" th:field="*{title}" required>

    <label for="urgent">Urgent</label>
    <input type="checkbox" id="urgent"  th:field="*{urgent}" th:value="*{urgent}">

    <label for="done">Done</label>
    <input type="checkbox" id="done" th:field="*{done}" th:value="*{done}">

    <label for="assignee">Assignee</label>
    <select name="food"  id="assignee" >
        <option th:value="${assignee}" th:each="assignee:${assignees}" th:object="${assignee}">
            <span th:text="*{id} + ', ' + *{name}"></span>
        </option>
    </select>

    <button type="submit">Submit</button>
</form>

<button><a href="/todo/list">Cancel</a></button>

</body>
</html>