<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>

<h1>Todos with matching desciptions</h1>

<table>

    <thead>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Urgent</th>
        <th>Done</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="todo : ${todos}" th:object="${todo}">
        <td class="id" th:text="*{id}"></td>
        <td class="title" th:text="*{title}"></td>
        <td class="urgent" th:text="*{urgent}"></td>
        <td class="done" th:text="*{done}"></td>
        <td>
            <a th:href="'/todo/' + *{id} + '/delete'">Delete</a>
        </td>
        <td>
            <a th:href="'/todo/' + *{id} + '/edit'">Edit</a>
        </td>
    </tr>
    </tbody>

</table>

<button><a href="/todo/list">Back to full list</a></button>

</body>
</html>