<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
</head>
<body>

<h1>Todos for today</h1>

<table>

    <thead>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Is it urgent?</th>
        <th>Is it done?</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="todo : ${todos}" th:object="${todo}">
        <td class="id" th:text="*{id}"></td>
        <td class="title" th:text="*{title}"></td>
        <td class="urgent" th:text="*{isUrgent}"></td>
        <td class="done" th:text="*{isDone}"></td>
        <td>
            <a th:href="'/' + *{id} + '/delete'">Delete</a>
        </td>
    </tr>
    </tbody>

</table>

<button><a href="/todo/add">Add a todo to your list</a></button>

</body>
</html>