<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
</head>
<body>

<h1>Todos for today</h1>

<table>

    <thead>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Is it urgent?</th>
        <th>Is it done?</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="todo : ${todos}">
        <td class="id" th:text="${todo.id}"></td>
        <td class="title" th:text="${todo.title}"></td>
        <td class="urgent" th:text="${todo.urgent}"></td>
        <td class="done" th:text="${todo.done}"></td>
    </tr>
    </tbody>

</table>

</body>
</html>